@media (max-width: 920px) {
    .article-container #container-txt h2{
        font-size: 30pt;
    }
    .article-container #container-img section:nth-child(2){
        position: relative;
        margin-top: -50px;
    }
    .article-container #container-img section:nth-child(1s){
        position: relative;
        margin-top: 100px;
    }
    div{
        width: 35vh;
        height: 38vh;
    }

}

@media (max-width: 300px) and (max-height: 600px) {
    nav button {
      display: none;
    }
  
    nav select {
      display: block;
    }
  }
  